<!DOCTYPE html>
<!--
    @Author Rizki Mufrizal <mufrizalrizki@gmail.com>
    @Since Jun 22, 2016
    @Time 10:15:22 PM
    @Encoding UTF-8
    @Project Pelayanan-LabTI
    @Package Expression package is undefined on line 8, column 16 in Templates/Other/html.html.
-->
<html>
    <head>
        <title>Error 500</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h1>Error 500</h1>
        <h2>Maaf, sedang terjadi kesalahan sistem</h2>
    </body>
</html>
